In [8]:
import pandas as pd
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
var2 = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
pd.merge(var1,var2, how = "right")

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [7]:
# Mereging two and more than two dataframes
import pandas as pd
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
var2 = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
pd.merge(var1,var2)
# Merge fun is used to merge the dataframes.
# It takes dataframes name as an argument and the condition on which you are merging the data.
pd.merge(var1,var2, on = 'A')
# We can use single quote and double quote as well.

   A  B_x  B_y
0  1    5    5
1  2    6    6
2  3    7    7
3  4    8    8

In [6]:
# Delete any column from the dataframe
import pandas as pd
var = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
del var["A"]
print(var)

   B
0  5
1  6
2  7
3  8

In [4]:
# insert any column at any dedicated index
import pandas as pd
var = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
var.insert(1,"PYTHON",var["A"])
print(var)

   A  PYTHON  B
0  1       1  5
1  2       2  6
2  3       3  7
3  4       4  8

In [3]:
# how to do slicing in pandas 
import pandas as pd 
var = pd.DataFrame({"A":[1,2,3,4],"B":[9,8,7,6]})
var["ml"] = var["A"][:2] 
var

   A  B   ml
0  1  9  1.0
1  2  8  2.0
2  3  7  NaN
3  4  6  NaN

In [5]:
# POP any column from the dataframe
import pandas as pd
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
var2 = var1.pop("A")
print(var2)

0    1
1    2
2    3
3    4
Name: A, dtype: int64

In [1]:
# insert the column, delete the column, pop the column
import pandas as pd 
var = pd.DataFrame({"A":[1,2,3,4],"B":[9,8,7,6]})
var

   A  B
0  1  9
1  2  8
2  3  7
3  4  6